<div id="my-spa" 
     asp-prerender-module="./wwwroot/dist/main-server"
     asp-prerender-webpack-config="webpack.config.js"></div>

<script src="~/dist/main.js" asp-append-version="true"></script>
<link rel="stylesheet" type="text/css" href="~/dist/main.css" />