<div 
    id="react-app" 
    asp-prerender-module="app/config/boot-server"
    asp-prerender-webpack-config="/app/config/webpack.config.dev.js"
    @*asp-prerender-data="@Model"*@>
    Loading...
</div>

<script src="app/build/js/main.js" asp-append-version="true"></script>ADD